footer {
    background-color: white;
    text-align: center;
    width: 100vw;
    padding: 10px 0px 10px;
    margin-top: 50px;
}

footer a, footer p {
    font-family: Raleway;
    font-weight: 500;
    color: #FBD1B7;
}