body {
    z-index: 1;
    position: absolute;
    margin-top: 100px;
}
/**Set h1 and h2 in another stylesheet**/
h1 {
    font-size: 3em;
    font-family: Montserrat;
    font-weight: 500;
    color: #FBD1B7;
}

h2 {
    font-size: 2em;
}

label {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}